<div class="indexContent">
	<div class="iCHeader">
		<div class="iCHAdd">
			<button type="button" class="iCHButton">新建日记</button>
		</div>
	</div>
	<div class="iCContentLists" *ngIf="NotesNumber==0">
		<h3>暂无日记，请先添加</h3>
	</div>
	<div class="iCContentLists" *ngIf="NotesNumber!=0" >
		<div class="iCContentList" *ngFor="let Note of Notes;let i=index;"  (click)="ngChange(i)">
				<div class="iCCTitle">
					<h3>{{Note.title}}</h3>
					<span class="iCCTime">
					{{Note.time}}
				</span>
				<button class="iCCDelete" type="button" (click)="ngDelete(i)">删除</button>
				</div>
				
				<div class="iCCContent">
					{{Note.content}}
				</div>
			</div>
	

	</div>
</div>
