.indexContent{
	width:100%;
	height:100%;
	border-right: 1px solid #efefef;
}
.indexContent .iCHeader{
	width:100%;
	height:10%;
	margin: 0 auto;
	text-align: center;
}
.indexContent .iCHeader .iCHAdd{
	height:100%;
	/*line-height:100%;*/
	padding-top:25px;
}
.indexContent .iCHeader .iCHAdd .iCHButton{
	padding: 10px 45px;
	border-radius: 5px;
	color: #ffffff;
	background: #52bf5a;
	border:1px solid #22d81f;
}
.indexContent .iCContentLists{
	width: 100%;
	height: 90%;
	overflow-y:scroll;
}
.indexContent .iCContentLists .iCContentList{
	width: 95%;
	height:150px;
	padding: 10px 0;
	padding-left:5%;
	position: relative;
	border-bottom: 1px solid #efefef;
}
.indexContent .iCContentLists .iCContentList:hover {
	background: #52bf5a;
	transition: background 0.3s;
	color: #ffffff;
}

.indexContent .iCContentLists .iCContentList .iCCTitle{
	position: relative;
	height: 50px;
	width: 100%;
}
.indexContent .iCContentLists .iCContentList .iCCTitle h3{
	margin:0 5px ;
	color: #666666;
	font-size: 15px;
}
.indexContent .iCContentLists .iCContentList:hover .iCCTitle h3{
	color: #ffffff;
}
.indexContent .iCContentLists .iCContentList:hover .iCCTitle .iCCTime{
	color: #ffffff;
}
.indexContent .iCContentLists .iCContentList:hover .iCCContent{
	color: #ffffff;
}
.indexContent .iCContentLists .iCContentList:hover .iCCTitle .iCCDelete{
	display: block;
	opacity: 1;
	transition: opacity 0.5s;
}
.indexContent .iCContentLists .iCContentList .iCCTitle .iCCTime{
	margin-left: 5px;
	color: #aba5a5;
}
.indexContent .iCContentLists .iCContentList .iCCTitle .iCCDelete{
	position: absolute;
	top: 0px;
	opacity: 0;
	right: 15px;
	z-index: 1000;
	color: #ffffff;
	border-radius: 5px;
	padding: 3px 9px;
	border: 1px solid #ff0000;
	background: #ff0000;
}


.indexContent .iCContentList .iCCContent{
	overflow: hidden;
	padding:0 3%;
	margin-bottom: 10px;
	width: 94%;
	line-height: 20px;
	color: #777676;
	height:80px;

	font-size: 14px;
}
