.InContent{
	width:100%;
	height:100%;
}
.ICHeader{
	height:65px;
	line-height:65px;
	outline: none;
	border: none;
	width: 100%;
}
.ICHInput{
	height:65px;
	line-height:65px;
	outline: none;
	width: 80%;
	font-size: 25px;
	color: #1cd634;
	padding-left: 15px;
	border: none;
}
.ICContent{
	width: 90%;
	height: 80%;/*
	overflow-y: scroll;*/
}
.ICHTextarea{
	width: 100%;
	height: 100%;
	font-size: 15px;
	padding:5px 15px;
	resize: none;
	color: #585a59;
	font-family: 微软雅黑;
	line-height: 25px;
	border: none;
	outline: none;
}
.ICOperate{
	width: 100%;
	height: 35px;
	position: relative;
}
.ICOperate button{
	width: 60px;
	height:30px;
	color: #ffffff;
	line-height: 30px;
	border-radius: 5px;
}
.ICOperate .ICCODolete{
	background: #ff0000;
	border: 1px solid #ff0000;
}
.ICOOper{
	position: absolute;
	right: 20px;
	top: 10px;
}
.ICOperate .ICCOUp{
	background: #1cd634;
	border: 1px solid #1cd634;
}
.ICOOper .ICCOCall{
	background: #4897e8;
	border:1px solid #4897e8;
}
.ICCurtain{
	width: 100%;
	height: 100%;
	position: relative;
}
.ICCurtain h2{
position: absolute;
top: 50%;
width: 100%;
text-align: center;
height: 85px;
line-height: 85px;
font-size: 55px;
color: #52bf5a;
margin-top: -55px;
}


.ICCODelete{
position: fixed;
width: 100%;
height: 100%;
background: #000000;
top: 0;
z-index: 1000000;
right: 0;
opacity: 0.5;
}
 .ICCODContent{
	width: 400px;
	opacity: 1;
	background:#ffffff;
	height: 200px;
	border-radius: 15px;
	position: fixed;
	z-index: 1000001;
	top: 50%;
	padding: 0 15px; 
	right: 50%;
	margin-top: -100px;
	margin-right: -200px;
}
.ICCODContent h3{
border-bottom: 1px solid #666666;
padding-bottom: 8px;
color: #ff0000;
}
 .ICCODContent p{
	color: #000000;
	font-size: 20px;
}

 .ICCODContent button{
	width: 100px;
	height:35px;
	margin-right: 25px; 
	color: #ffffff;
	line-height: 30px;
	border-radius: 5px;
}
.ICCODContent .ICCOUp{
background: #ff0000;
	border: 1px solid #ff0000;
}
.ICCODContent>div{
	position: absolute;
	bottom: 25px;
}
.ICCODContent .ICCODolete{
	background: #4897e8;
	border:1px solid #4897e8;
}